<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>fitness-shop</display-name>
  
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>HomeServlet</servlet-name>
	  <servlet-class>com.patrickhub.fitnessshop.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern></url-pattern>
  	<url-pattern>/shop</url-pattern>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>ShoppingCartServlet</servlet-name>
	  <servlet-class>com.patrickhub.fitnessshop.servlet.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShoppingCartServlet</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>OrderServlet</servlet-name>
	  <servlet-class>com.patrickhub.fitnessshop.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckoutAddressServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.CheckoutAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckoutAddressServlet</servlet-name>
  	<url-pattern>/checkout-address</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckoutPaymentServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.CheckoutPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckoutPaymentServlet</servlet-name>
  	<url-pattern>/checkout-confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OrderHistoryServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderHistoryServlet</servlet-name>
  	<url-pattern>/order-history</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OrderItemServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.OrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderItemServlet</servlet-name>
  	<url-pattern>/order-items</url-pattern>
  </servlet-mapping>
  <servlet>
 	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
 	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.patrickhub.fitnessshop.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>URLFilter</filter-name>
  	<filter-class>com.patrickhub.fitnessshop.filter.URLFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>URLFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.patrickhub.fitnessshop.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/login</url-pattern>
  </filter-mapping>
  
</web-app>